<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>HelpInvest</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
</head>

<body>
    <h2>This is what the value of your portfolio will look like</h2>
    <img src="static/images/plot.png" alt="plot" width="500" height="500">
    <br>
    <br>
    <a href={{url_for("home")}}> 
        <input type="button" name="go_back_button" id="go_back_button" value = "Go back"></input>
        
    </a>
</body>
