html{
    height: 200%;
    background-color: #d9d9cd;
}

body{
    margin: 0%;
    margin-top: 0%;
    text-align: center; 
    margin: auto;
}

header{
    text-align: center;
    padding-bottom: 5%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    font-size: 300%;
}

#submit_button{
    width: 150px;
    height: 50px;
    background-color:blue;
    font-weight: bold;
    color: white;
}

#submit_button:hover{
    background-color: darkblue;
    cursor: pointer;
    font-weight: bolder;
    color: white;
}

select:hover{
    cursor: pointer;
}

.wiki:hover{
    cursor: pointer;
}

.question{
    text-align: left;
    width: 50%; ;
    margin-left: 28%;
    margin-right: 22%;
    font-size: 120%;
    font-weight: bold;
}

.explanation{
    text-align: left;
    width: 50%; ;
    margin-left: 28%;
    margin-right: 22%;
    font-size: 100%;
}

#go_back_button{
    width: 150px;
    height: 50px;
    background-color: red;
    font-weight: bold;
}

#go_back_button:hover{
    background-color: darkred;
    font-weight: bolder;
    cursor: pointer;

}

footer{
    width: 50%;
    margin-left: 28%;
    margin-right: 22%;
    text-align: left;
    margin-top: 3%;
}

h2{
    font-weight: bold;
}

#logo{
    margin-bottom: 3%;
    height: 15%;
    width: 15%;
}


